<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519312259857-dfc6n9iit6orp1kvudfvqe3pa4q96d8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519312259857-dfc6n9iit6orp1kvudfvqe3pa4q96d8i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519312259857-n0ojdlaac92mmv62m3j1eefocdjl31pi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbMoAvhwcNBi9sqnx_tHpL6-sCf_4ke8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>519312259857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zygo.ios</string>
	<key>PROJECT_ID</key>
	<string>zygo-302806</string>
	<key>STORAGE_BUCKET</key>
	<string>zygo-302806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:519312259857:ios:86a5e4650f13dc81b1aab0</string>
</dict>
</plist>
